body {
    color: rgb(73, 71, 71);
    background-image: url("css/huutista.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
    font-family: "minecraftia";
    font-size: 10vmin;
    text-shadow: 0.4vmin 0.3vmin rgb(0, 0, 0);
}

.keho {
    font-size: 10vmin;
    text-shadow: 0.4vmin 0.3vmin rgb(0, 0, 0);
}

div {
    text-align: center;
}

.boxi {
    font-size: 3vmin;
    text-shadow: none;

}

.boxi2 {
    font-size: large;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    height: fit-content;
    border-radius: 5px;
    padding: 1%;
}

.boxi3 {
    font-size: 3vmin;
    text-shadow: none;
}

.footer {
    font-size: medium;
    text-shadow: none;
    right: 0;
    position: absolute;
    padding: 0 20px 20px 0;
    bottom: 0;
    color: white;
}

.datasource {
    font-size: medium;
    text-shadow: none;
    right: 1;
    position: absolute;
    padding: 0 20px 20px 0;
    bottom: 0;
    color: white;
}

@font-face {
    font-family: "comic sans";
    src: url("/fonts/comic.ttf");
    font-display: swap;
}

@font-face {
    font-family: "minecraftia";
    src: url("fonts/Minecraftia.otf");
}
